.circular-gallery {
    width: 100%;
    height: 600px;
    position: relative;
    overflow: hidden;
}

.circular-gallery canvas {
    display: block;
    width: 100%;
    height: 100%;
    cursor: grab;
}

.circular-gallery canvas:active {
    cursor: grabbing;
}

@media (max-width: 768px) {
    .circular-gallery {
        height: 400px;
    }
}